/*HISTORIA Y CADA UNO DE LOS SIGNOS*/

.flexContainerDerecha  {
    margin: 30px 10px 40px 15px;
    padding: 15px 20px 40px 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: space-around;
        div {
            font-family: 'Arvo', serif;
        }
    
    @media (max-width: 1024px) {
        flex-direction: column;
    }

    img {
        @media (max-width: 479px) {
            width: 100%;
        }
    }
}

.flexContainerIzquierda  {
    margin: 30px 10px 40px 15px;
    padding: 15px 20px 40px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: space-around;
        div {
            font-family: 'Arvo', serif;
        }
    
    @media (max-width: 1024px) {
        flex-direction: column;
    }

    img {
        @media (max-width: 479px) {
            width: 100%;
        }
    }
}

.imagenContainer {
    align-content: center;
    margin: 10px;
    @media (max-width: 479px) {
        width: 100%;
    }
}