$fontsize: 2em;

/*TÍTULO*/
.titulo {
    color: #FFF7B2;
	font-family: 'EB Garamond', serif;
	font-size: $fontsize + 4em;
	text-align: center;
    line-height: 35px;

    @media (max-width: 767px) {
        font-size: $fontsize + 1em;
    }

    @media (max-width: 479px) {
        font-size: $fontsize;
    }
}

/*SUBTITULO*/

.subtitulo {
    font-size: $fontsize + 1em;

    @media (max-width: 767px) {
        font-size: $fontsize;
    }

    @media (max-width: 479px) {
        font-size: ($fontsize)-0.5em;
    }
}

/*TITULOS DE CADA SEGMENTO*/
.segmentos{
    text-align: left;
}